

body {
  background-color: black;
}

h1 {
  color: white;
  font-size: 35px;
  text-align: center;
}

h2 {
  color: red;
  font-size: 30px;
  text-align: center;
}

p {
	color: red;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 25px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header
h1 {
  font-family: "Papyrus";
}
